In [19]:
import os
import pandas as pd
import numpy as np

import psycopg2
import sys

from dotenv import load_dotenv
from sqlalchemy import create_engine
from datetime import datetime
    
load_dotenv()

db_username = os.getenv('DB_USERNAME')
db_password = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT')
db_name = os.getenv('DB_NAME')

In [3]:
def connect_to_db():
    '''
    connect to postgres database
    '''

    try:
        print("Connecting to the PostgreSQL database...")
        connection_string = f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}'
        engine = create_engine(connection_string)
        print("All good, Connection successful!")
        return engine
    
    except Exception as error:
       print(f"Error: {error}")
       sys.exit(1)

def sql_to_dataframe(query, engine):
    '''
    Import data from PostgreSQL database using SELECT query
    '''

    try:
        data = pd.read_sql(query, engine)
        return data
    except Exception as error:
        print(f"Error: {error}")
        sys.exit(1)

In [4]:
engine = connect_to_db()
query = """SELECT * FROM public.cars"""
car_data = sql_to_dataframe(query, engine)

car_data.head()

Connecting to the PostgreSQL database...
All good, Connection successful!

,id,car_id,make,model,year_of_manufacture,color,condition,mileage,engine_size,registered_city,selling_condition,bought_condition,city,price,body_type,fuel_type,transmission
0,1,jEY4wdZx3EkjIDeYRRPPd7TFr8vut0v,Mercedes-Benz,M Class,2014,White,Nigerian Used,69224.0,4700.0,LAGOS,Registered,Imported,Lekki,21375000,SUV,Petrol,Automatic
1,2,jEY4wdZxVSwe7y8WhN00eLffcSCE8Wp,Toyota,Camry,2011,Gray,Nigerian Used,197653.0,2500.0,Lagos,Registered,Imported,Ajah,8100000,None,Petrol,Automatic
2,3,jlCs49Pn1XVA47Rar1tSAf4fMcIoSj,Lexus,RX 350,2009,Silver,Nigerian Used,307815.0,3500.0,Lagos,Registered,Imported,Lekki,11250000,SUV,Petrol,Automatic
3,4,jEY4wdZneOhmdvapWzfrhlj2A5YlDQU,Ford,Explorer,2007,Black,Nigerian Used,95571.0,4000.0,0,Registered,Registered,Ibeju,3937500,SUV,Petrol,Automatic
4,5,jEY4wdZos2dwk0dl6qFdZER8f34EcQK,Porsche,Cayenne,2012,Black,Nigerian Used,53911.0,3600.0,LAGOS,Registered,Imported,Lekki,30375000,SUV,Petrol,Automatic

In [5]:
data_dir = 'data'
base_filename = 'server_car_data'
file_extension = '.csv'
timestamp = datetime.now().strftime("%Y%m%d%H%M%S")
filename = f"{base_filename}_{timestamp}{file_extension}"

os.makedirs(data_dir, exist_ok=True)

filepath = os.path.join(data_dir, filename)
while os.path.exists(filepath):
    timestamp = datetime.now().strftime("%Y%m%d%H%M%S")
    filename = f"{base_filename}_{timestamp}{file_extension}"
    filepath = os.path.join(data_dir, filename)

car_data.to_csv(filepath, index=False)

In [6]:
car_data = pd.read_csv(filepath)

In [7]:
car_data.shape

(2021, 17)